.icon-js {
    padding: 0.2rem;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    line-height: 1;
    font-size: 1.2rem;
    user-select: none;
}

.icon-intetics {
    font-size: 0.6rem;
    width: unset;
    height: unset;
    user-select: none;
}

.icon-mcc {
    &__piece {
        &-top-right,
        &-bottom-right,
        &-center,
        &-c-top,
        &-c-bottom,
        &-m {
            fill: var(--local-accent);
        }
        &-top-right {
            --local-accent: var(--yellow);
        }
        &-bottom-right {
            --local-accent: var(--red);
        }
        &-center {
            --local-accent: var(--text);
        }
        &-c-top,
        &-c-bottom,
        &-m {
            --local-accent: var(--background);
        }
    }
}

.icon-inverted {
    .icon-mcc {
        overflow: visible;
        &__piece {
            &-top-right,
            &-bottom-right,
            &-center {
                --local-accent: transparent;
            }
            &-c-top {
                --local-accent: var(--yellow);
            }
            &-c-bottom {
                --local-accent: var(--red);
            }
            &-m {
                --local-accent: var(--green);
            }
        }
    }
}
