.icon-js {
    padding: 0.2rem;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    line-height: 1;
    font-size: 1.2rem;
    user-select: none;
}

.icon-intetics {
    font-size: 0.6rem;
    width: unset;
    height: unset;
    user-select: none;
}
