.content {
    align-content: center;
    display: flex;
    align-items: flex-start;
    // justify-content: center;
    flex-direction: column;
    gap: 3em;
    padding: 1em;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 100vh;
}

.content-portal {
    flex-grow: 1;
    align-self: stretch;
}

@media (max-width: 95em), (max-height: 57em) {
    .content {
        height: max-content;
    }
}
