.switch {
    border: none;
    background: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    font-size: 1em;
    padding: 0;
    border-radius: 5px;
    padding: 0.1rem;
    padding-left: 0.3rem;

    &[data-active="false"] {
        --local-accent: var(--text);
    }

    &__element {
        width: 1rem;
        height: 1rem;
        border-radius: 0.2rem;
        display: flex;
        border: var(--text) 1.5px solid;
        padding: 2px;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;

        transition-property: border-color;
        transition-duration: 0.1s;
        transition-timing-function: linear;

        &-circle {
            width: 0;
            height: 0;
            border-radius: 0.1rem;
            background: var(--text);
            flex-shrink: 0;

            transition-property: width height;
            transition-duration: 0.1s;
            transition-timing-function: linear;
        }
    }
    &[data-active="true"] {
        .switch__element {
            border-color: var(--local-accent);
            &-circle {
                width: 100%;
                height: 100%;
                background: var(--local-accent);
            }
        }
    }
}
