.logo {
    cursor: pointer;
    --local-accent: var(--blue);

    &__text {
        animation: rotate 30s linear infinite;
        transform-origin: center;
        opacity: 0.5;
        user-select: none;
    }

    & .logo-text {
        display: none;
    }

    &:hover .logo-text {
        display: block;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
