.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-self: stretch;
    padding: 0.5rem;
    text-align: left;
    font-weight: 400;
    gap: 0.5rem;
    height: max-content;
    flex-grow: 1;
    box-sizing: border-box;
    --icon-color: var(--blue);

    &__specialization span {
        color: var(--local-accent);
        display: inline-flex;
        align-items: baseline;

        & svg {
            height: 0.75em;
            width: 0.75em;
            display: inline-block;
            margin-right: 0.5rem;
        }
    }

    &__header {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        gap: 0.5rem;
        flex-grow: 1;
        width: 100%;

        &-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0.5rem 1rem;
            width: 100%;
            box-sizing: border-box;
        }
    }

    &__logo {
        color: var(--icon-color);
        --local-accent: var(--icon-color);
        padding: 1rem;
        width: 100%;
        height: 0;
        box-sizing: border-box;
        display: block;
        flex-grow: 1;
    }

    &__name {
        color: var(--icon-color);
        font-size: 2rem;
        font-weight: 600;
        margin: 0;
        line-height: 1.5;
        text-align: right;
        max-width: 10em;
    }

    h2 {
        font-size: 1.2em;
        font-weight: 600;
        margin: 0.5rem 0;
    }

    &__info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-self: stretch;
        max-width: 100%;
        border-radius: var(--border-radius);
        background: transparent;
        gap: 0.5rem;
    }

    & .logo {
        width: 100%;
        height: 100%;
        overflow: visible;
    }
}

[data-monospace="true"] button {
    font-family: "Fira Code", monospace;
}

.sidebar-portal {
    background: var(--background);
    scrollbar-color: var(--local-accent) var(--card);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    z-index: 2;
    min-width: 40%;

    & .settings {
        flex-direction: row-reverse;
    }
}

@media (min-width: 75rem) {
    .sidebar {
        gap: 1rem;

        &__info {
            justify-content: center;
            align-items: center;
        }

        &__header {
            flex-direction: row;
            max-height: 30rem;
            flex-grow: 0;
        }

        &__header-text {
            gap: 0.5rem;
            align-items: flex-start;
            flex-grow: 0;
            width: max-content;
            background: transparent;
        }

        h1 {
            font-size: 3rem;
            width: 15rem;
            text-align: left;
            line-height: 110%;
        }

        h2 {
            font-size: 1.5rem;
            width: 16.5rem;
        }

        &__logo {
            max-width: 20rem;
        }

        &__header-text,
        &__logo {
            height: 100%;

            &::before {
                opacity: 0 !important;
                /* I am really, truly sorry for this */
            }
        }
    }
}

@media (max-width: 65rem) {
    .sidebar-portal {
        align-items: center;
    }

    .sidebar {
        align-items: center;
        max-width: unset;

        &__header {
            justify-content: center;
            align-items: center;
            flex-direction: row;

            &-text {
                margin-right: 0;
                text-align: center;
                align-items: center;
                align-self: stretch;
            }
        }

        &__info {
            flex-direction: row;
        }

        &__logo {
            height: 20rem;
        }
    }
}

@media (max-width: 40rem) {
    .sidebar {
        align-items: center;
        max-width: unset;

        &__header {
            flex-direction: column;
        }

        &__info {
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }
}

@media (max-width: 35rem) {
    .sidebar {
        &__info {
            max-width: 100%;
        }
    }
    .sidebar-portal .settings {
        flex-direction: column;
        align-items: flex-end;
        align-self: flex-end;
    }
}
