.chip {
    --primary: var(--text);
    color: var(--primary);

    &-red {
        --primary: var(--red);
    }
    &-orange {
        --primary: var(--orange);
    }
    &-yellow {
        --primary: var(--yellow);
    }
    &-green {
        --primary: var(--green);
    }
    &-blue {
        --primary: var(--blue);
    }
    &-purple {
        --primary: var(--purple);
    }
    &-pink {
        --primary: var(--pink);
    }

    &[is-filled="true"] {
        background: var(--primary);
        color: var(--background);
        margin: 0 0.1rem;
        padding: 0.1rem 0.2rem;
        border-radius: 0.2rem;
        font-weight: 600;
        user-select: none;
    }

    &::selection {
        background: var(--primary);
        color: var(--background);
    }
}
