html,
body {
    overflow: hidden;
}

h1 {
    font-size: 2.5em;
}

main[data-monospace="true"] {
    &,
    & button {
        font-family:
            "Fira Code",
            Noto Sans Georgian,
            monospace;
        line-height: 1.5;
        font-weight: 400;
        font-size: 0.85rem;
    }
}

:root {
    &,
    & button {
        font-family:
            Manrope,
            Noto Sans Georgian,
            sans-serif;
        line-height: 1.5;
        font-weight: 400;
    }
}

main,
#app {
    margin: 0 auto;
    width: 100%;
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
    background: var(--background);
}

.scroll-portal {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media (max-width: 55em) {
    main {
        flex-direction: column;
        height: max-content;
    }
    .scroll-portal {
        height: max-content;
        overflow: hidden;
    }
    html,
    body {
        overflow-y: scroll;
    }
}

::selection {
    background-color: var(--overlay);
    color: var(--local-accent);
}

main[data-lowercase="true"] * {
    text-transform: lowercase;
}

// thanks octicons for inline styles
.octicon {
    display: block !important;
    vertical-align: unset !important;
}

.colored {
    color: var(--local-accent);

    &-red {
        --local-accent: var(--red);
    }
    &-orange {
        --local-accent: var(--orange);
    }
    &-yellow {
        --local-accent: var(--yellow);
    }
    &-green {
        --local-accent: var(--green);
    }
    &-blue {
        --local-accent: var(--blue);
    }
    &-purple {
        --local-accent: var(--purple);
    }
    &-pink {
        --local-accent: var(--pink);
    }
    &-dark {
        --local-accent: var(--blue-medium);
    }
    &-text {
        --local-accent: var(--text);
    }
    &-background {
        --local-accent: var(--background);
    }
}
