@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700&display=swap");

:root {
  font-family: Manrope, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--link);
  text-decoration: inherit;
  opacity: 0.9;
}

a:hover {
  opacity: 1;
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  scrollbar-color: var(--text) transparent;
  scrollbar-width: thin;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  background: transparent;
  opacity: 0.6;
}

::-webkit-scrollbar-thumb {
  background: var(--text);
  border-radius: 1em;
}

p {
  margin: 0;
}

button {
  border: none;
  padding: 0;
  font-size: 1em;
  background: unset;
}
